body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1{
  position: relative;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

.pimg2, .pimg3, .pimg4, .pimg5{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
    z-index: 1;

}

nav.black{
  background: #FFF;
   /*background: rgba(0,0,0,.8);*/
    height: 80px;
    padding: 10px 100px;
    }

nav .logo{
   padding: 12px 10px;
   height: 80px;
   float: left;
   font-size: 24px;
   transition: .3s;
}



nav.black .logo{
    color: #E2472F;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    line-height: 80px;
    color: #E2472F;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav.black ul li a{
    color: #000;

}

nav ul li a:focus {
    outline: none;
}

nav ul li a.active{
background: #E2472F;
color: #fff;
border-radius: 6px;
}

.intro{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.intro h1{
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  top: 50%;
  bottom: 10%;
  left: 0;
  right: 0;
}

.intro img {

position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-color: #fff;
    border-style: double;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
  }



/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #000;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 25.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.pimg1{

    background-image: url('../images/aerial-shot-dark-from-above-1358699.jpg');
    min-height: 70%;
    }

.pimg2{

background-image: url('../images/pexels-photo-169573.jpeg');
min-height: 400px;
}

.pimg3{

background-image: url('../images/pexels-photo-301614.jpeg');
min-height: 400px;
}

.pimg4{

  background-image: url('../images/pexels-photo-590493.jpeg');
  min-height: 400px;
  }

  .pimg5{

    background-image: url('../images/pexels-photo-1068523.jpeg');
    min-height: 400px;
    }

.section{
text-align: center;
padding: 50px 80px;
}

.section-light{
    background-color: white;
 color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
    display: grid;
   }

   .section-dark-alt{
    background-color: #282e34;
    color: #ddd;
    display: grid;
    height: 100%;
   }

.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

img{
  width: 40%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 5%;
}

.pimg1 .ptext{

  top:90%;
  width: 100%;
  text-align: left;
  color: red;
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: none;

}
.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}

@media(max-width:567px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

.logo img{
  width: 40%;
  height: 80%;
}
  


/* Mouse scoll css*/

.scroll-downs {
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    opacity: 0.75; 
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #E2472F;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }


/* SVG Circular Progress*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,400);
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}
.progress > li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}
.progress > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}
.progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}
.progress svg {
  width: 10rem;
  height: 10rem;
}
.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: #282e34; /*aling to backgrond color */
  opacity: .9;
  -webkit-animation: load 10s;
          animation: load 10s;
}


/* ===================
 Portfolio
=================== */

.main-content{
  width: 100%;
  margin: 0, auto;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: grey;
  color: lightgray;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Refractored the code a little from the video.
   Moved these from the .two, thought it made
  more sense like this.*/

  font-size: 1.5em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
/*  z-index: 10; */
}
  
  .portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
  }
  
  .portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  .portfolio-item.large {
    grid-row: span 3;
    grid-column: span 3;
  }
  
  .portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 2;
  }
  
  .portfolio-item.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
    
  .portfolio-item.hover {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  }

  .portfolio-item.two {
  background-image: url(/images/recipe-project.JPG);
  }
  
  .portfolio-item.two::before {
    content: '';
    display: block;
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }
  
  .portfolio-item.two:hover::before {
    opacity: 0.2;
  }
